*{
    color: white;
    font-family: 'Poppins',sans-serif;
    transition: 0.5 ease-in-out;
    user-select: none;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: slategrey;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    text-align: center;
    padding-top: 10vh;
}

.container{
    width: 180px;
    height: 90px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.container h2{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.container .turn-box{
    border: 3px solid black;
    font-size: 1.6rem;
    font-weight: 900;
}

.container .turn-box:nth-child(even){
    border-right: none;
}

.background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 45px;
    background-color: tomato;
    z-index: -1;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border: 2px solid black;
}

.box{
    cursor: pointer;
    font-size: 4rem;
    font-weight: bold;
    border: 2px solid black;
}

.box:hover{
    background-color: tomato;
}

#play-again{
    background-color: crimson;
    padding: 10px 25px;
    border: none;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

#play-again:hover{
    padding: 10px 40px;
    background-color: aqua;
    color: black;
}